@charset "UTF8";


    
.btn{
    padding: 10px 8px;
    width: 50px;
    color: aliceblue;
    background-color: aquamarine;
    border: 1px solid #555;
    border-radius: 5px;
    text-align: center;
    user-select: none;
    cursor: pointer;
    transition: 1s;
}
.btn:hover{
    background: #19ee05;;
}
